<div class="side-nav">
  <a class="link" routerLink="/property">
    <div class="row sbar-element">
      PROPERTIES
    </div>
  </a>
  <div class="h-divider"></div>
  <a class="link" routerLink="/add-property">
    <div class="row sbar-element">
      ADD PROPERTY
    </div>
  </a>
  <div class="h-divider"></div>
  <a class="link" routerLink="/add-unit">
    <div class="row sbar-element">
      ADD UNITS
    </div>
  </a>
  <div class="h-divider"></div>
  <a class="link" routerLink="/property">
    <div class="row sbar-element">
      PROPERTY
    </div>
  </a>
  <div class="h-divider"></div>
</div>