<div class="side-nav">
  <a class="link" routerLink="/property">
    <div class="row sbar-element">
      PROPERTY
    </div>
  </a>
  <div class="h-divider"></div>
  <a class="link" routerLink="/property">
    <div class="row sbar-element">
      PROPERTY
    </div>
  </a>
  <div class="h-divider"></div>
  <a class="link" routerLink="/property">
    <div class="row sbar-element">
      PROPERTY
    </div>
  </a>
  <div class="h-divider"></div>
  <a class="link" routerLink="/property">
    <div class="row sbar-element">
      PROPERTY
    </div>
  </a>
  <div class="h-divider"></div>
</div>